/*** Footer ***/
footer {
    flex-wrap: wrap;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    row-gap: 10px;
    .social-media {
        padding-inline-end: 20px;
        li {
            a {
                padding: 20px;
                i {
                    font-size: 18px
                }
            }
        }
    }
}