/*** Footer ***/
footer {
    flex-wrap: wrap;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    column-gap: 20px;
    row-gap: 20px;
    .social-media {
        @media screen and (min-width: 768px) {
            padding-inline-end: 30px;
        }
        li {
            a {
                padding: 20px;
                i {
                    font-size: 18px
                }
            }
        }
    }
}