// Terms Modal
#termsleModal {
    .modal-dialog {
        .modal-content {
            background-color: var(--bkg-clr-dark-l);
            .modal-body {
                .terms__box {
                    .title__box {
                        cursor: pointer;
                        border: 1px solid var(--bkg-clr-dark);
                        border-radius: 5px;
                        i {
                            transition: all .3s ease-in-out 
                        }
                    }
                    .slide__box {
                        display: none;
                        background: var(--bkg-clr-dark-l);
                        border: 1px solid var(--bkg-clr-dark);
                        border-top-width: 0;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

                    &.opened {
                        .title__box {
                            border-bottom: 1px solid var(--bkg-clr-dark);
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                            i {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}