:root {
        /* Bkg dark & dark lighter */
        --bkg-clr-dark: #000320;
        --bkg-clr-dark-transparent: 0, 3, 32;
        --bkg-clr-dark-l: #00276d;
        --bkg-clr-dark-l-transparent: 0, 39, 109;
        --bkg-clr-box-dark: rgba(0, 3, 32, 0.6);

        /* bkg-prim & prim-lighter */
        --prim-bkg-clr: #0096ab;
        --prim-bkg-clr-l: #00ebe3;

        /* border color */
        --border-clr: #000320;

        /* Light Text Colors */
        --main-txt-clr: #c4c4c4;
        --sec-txt-clr: #b4b4b4;

        /* Special Text-Colors */
        --prim-main-txt-clr: #00ebe3;
        --prim-sec-txt-clr-l: #0096ab;

        --background-dark: radial-gradient(circle, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark) 90%);

        --background-prim-border: radial-gradient(circle, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark-l, 1) 0%, var(--prim-bkg-clr) 140%);
}

/* Main Style */
body {
    background: var(--background-dark);
    color: var(--main-txt-clr);
    font-family: "Nunito Sans", sans-serif;
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}
.page-section {
    margin-top: 77px;
    @media screen and (max-width: 768px) {
        margin-top: 90px;
    }
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

/* links & butons style */
a, .btn {
    color: var(--main-txt-clr); 
    text-decoration: none !important;
    &:hover {
        color: var(--prim-main-txt-clr) !important;
    }
    &.active {
        color: var(--prim-main-txt-clr) !important;
        font-weight: bold;
    }
} 
/* Buttons Style */
.btn {
    background: var(--background-dark);
    padding: 5px !important;
    border-radius: 5px;
    outline: 0 !important;
}
button.close {
    opacity: 1;
    box-shadow: 0;
    color: var(--white);
    outline: 0;
    &:hover {
        color: var(--white);
        opacity: 1;
    }
}

/* Front Boxes Style and background */
.bkg-box,
#world-map .jvectormap-container {
    background: var(--bkg-clr-box-dark) !important;
    border-radius: 5px;
}    

// Boxes With Gradient Border */
.gradient-border {
    position: relative;
    border-radius: 3px;
    color: var(--prim-main-txt-clr) !important;
    &::before {
        content: '';
        @include vertical-center;
        background: var(--background-prim-border) !important;
        width: calc(100% + 4px);
        height: calc(100% + 3px);
        z-index: -1;
        border-radius: 5px;
    }
}

/* Reset Shadow */
.btn, .form-control, button[type='submit'] {
    outline: 0 !important;
    box-shadow: none !important;
}

/* SelectBox Left And Right Arrows */
.arrows-rest-pages {
    margin: 25px 25px 0 !important; 
}

/* Form & Inputs style and background */
.form-control, .search-country__box {
    background-color: var(--bkg-clr-dark-l);
    border: 1px solid var(--border-clr);
    color: var(--main-txt-clr) !important;
    &:focus {
        background-color: var(--bkg-clr-dark-l);
        border: 1px solid var(--border-clr);
    }
}

::-webkit-scrollbar {
    width: 8px;
  }
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) ;
  }
   
::-webkit-scrollbar-thumb {
    background: var(--prim-bkg-clr-l);
    border-radius: 5px;
  }


/* Dashboard */
#dashboard {
    background: var(--bkg-clr);
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    // Dashboard Content 
    .dashboard-content {
        display: flex;
        position: relative;
        @media screen and (min-width: 991px) {
            @include pad-mar(padding, auto, 0, auto, 100px);
        }

        // Main Dashboard Content 
        .dashboard__main-content {
            overflow: hidden;
            overflow-y: auto;
            width: 100%;
            // padding: 77px 20px 0;
            // @media screen and (max-width: 768px) {
            //     padding: 90px 0 0;
            // }
            // Countries and sectors section 
            .countries-sectors {
                .heading {
                    justify-content: flex-start;
                }
                > div {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    .prev-next__btn {
                        color: var(--prim-sec-txt-clr);
                        font-size: 12px;
                        border: 2px solid var(--prim-clr-grad-two);
                        padding: 3px 10px;
                        outline: 0;
                        letter-spacing: 1px;
                        @media screen and (max-width: 768px) {
                            width: 200px;
                            overflow: hidden;
                        }
                    }
                    .sellect-box {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @media screen and (max-width: 768px) {
                            width: 100%;
                        }
                        .label {
                            font-size: 14px;
                            color: var(--sec-txt-clr);
                        }
                        .arrows {
                            display: flex;
                            flex-wrap: nowrap;
                            margin: 0 25px;
                            i {
                                color: var(--prim-clr-grad-one);
                                font-size: 12px;
                                html[dir='rtl'] & {
                                    font-family: FontAwesome !important;
                                    &.fa-angle-left::before {
                                        content: '\f105' !important;
                                    }
                                    &.fa-angle-right::before {
                                        content: '\f104' !important;
                                    }
                                }
                            }
                        }
                        .search-div {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            @media screen and (max-width: 768px) {
                                width: 100%;
                            }
                            .search-country__box {
                                border: none;
                                border-radius: 5px;
                                color: var(--prim-main-txt-clr);
                                font-size: 16px;
                                font-weight: bold;
                                text-align: center;
                                outline: none;
                                padding: 5px 0;
                                border: 1px solid var(--border-clr);
                                &::placeholder {
                                    color: var(--main-txt-clr);
                                }
                                @media screen and (max-width: 768px) {
                                    font-size: 16px;
                                    width: 100%;
                                    margin: 10px 0;
                                    padding: 8px 0;
                                }
                            }
                        }
                    }
                }
            }

            // parameters section 
            .parameters-text {
                background: var(--background-dark);
                border-radius: 5px;
                padding: 10px 0;
                margin: 25px 3px 0;
                position: relative;
                .parameter {
                    position: relative;
                    color: var(--prim-main-txt-clr);
                    @media screen and (min-width: 1200px) {
                        margin-bottom: 0;
                        &:not(:last-child) {
                            border-right: 2px solid var(--bkg-clr-box-dark);
                        }
                    }
                    @media screen and (max-width: 1200px) {
                        &:not(:last-child) {
                            margin-bottom: 50px;
                            border-bottom: 2px solid var(--bkg-clr-box-dark);
                            padding-bottom: 20px;
                        }
                    }
                    .parameter__icon {
                        color: var(--white);
                        border-radius: 50%;
                        position: absolute;
                        top: -44px;
                        left: 50%;
                        padding: 3px;
                        transform: translate(-50%, 50%);
                        background: var(--prim-bkg-clr);
                        width: 35px;
                    }
                    h3 {
                        font-size: 16px;
                        line-height: 1.4;
                        text-align: center;
                        margin-top: 15px;
                        @media screen and (max-width: 768px) {
                            min-height: auto;
                        }
                    }
                    p {
                        text-align: center;
                        font-weight: bold;
                        font-size: 20px;
                        margin-bottom: 0px;
                    }
                }
            }
        }

        .world-map__section {
            .keymap__box {
                position: absolute;
                z-index: 25;
                top: 55px;
                left: 23px;
                display: flex;
                flex-wrap: nowrap;
                z-index: 5;
                .keymap__icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: var(--bkg-clr-dark-l);
                    border-radius: 5px;
                    padding: 5px;
                    height: 35px;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    &.opened {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }
                .keymap__content {
                    background: var(--bkg-clr-dark-l);
                    border-radius: 5px;
                    border-top-left-radius: 0;
                    padding: 20px;
                    width: 80%;
                    position: absolute;
                    top: 0;
                    left: 26px;
                    width: 200px;
                    display: none;
                    .form-check {
                        text-align: start;
                        .form-check-label {
                            html[dir="rtl"] & {
                                margin-inline-start: 20px;
                            }
                        }
                    }
                }
            }
            #world-map {
                width: 100%;
                height: 400px;
            }
        }
 
    }

}


:root.light-theme {
        /* Bkg dark & dark lighter */
        --bkg-clr-dark: #f0f1ff;
        --bkg-clr-dark-transparent: 255, 255, 255;
        --bkg-clr-dark-l: #ffffff;
        --bkg-clr-dark-l-transparent: 255, 255, 255;
        --bkg-clr-box-dark: rgb(255, 255, 255, 1);
        /* bkg-prim & prim-lighter */
        --prim-bkg-clr: #00c0ba;
        --prim-bkg-clr-l: #00d4cd;
        /* Light Text Colors */
        --main-txt-clr: #000320;
        --white: rgb(0, 3, 32);
        --sec-txt-clr: #b4b4b4;
        /* Special Text-Colors */
        --prim-main-txt-clr: #00c0ba;
        --prim-sec-txt-clr-l: #0096ab;

        --background-dark: radial-gradient(circle, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark) 90%);

        --background-prim-border: radial-gradient(circle, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark-l, 1) 0%, var(--prim-bkg-clr) 140%);

    // Main Style 
    body {
        background: var(--bkg-clr-dark);
    }
    .btn {
        background: var(--bkg-clr-dark-l);
    }

    // Navbar 
    .navbar {
        background: radial-gradient(circle, rgb(0, 39, 109) 0%, rgb(0, 39, 109) 0%, rgb(0, 3, 32) 90%) !important;   
        a, i, .btn {
            color: rgb(196, 196, 196);
        }
        .nav__user .user__items .btn,
        .nav__user .user__items i {
            color: var(--main-txt-clr) !important;
        }
        .navbar-toggler span .fa-bars{
            color: var(--main-txt-clr)
        }
    }

    // Side bar 
    .side-bar {
        > div {
            background: radial-gradient(circle, rgb(0, 39, 109) 0%, rgb(0, 39, 109) 0%, rgb(0, 3, 32) 90%) !important;
            a {
                color: rgb(196, 196, 196);
            }
        }
        .side-bar__btn-toggler {
            background: var(--prim-bkg-clr-l);
            i {
                color: var(--main-txt-clr) !important;
            }
        }
    }

    // Light background class 
    .light-background {
        background: var(--bkg-clr-dark-l) !important;
    }

    // World map Section 
    .world-map__section {
        .keymap__box {
            .keymap__icon {
                background: var(--background-dark);
            }
            .keymap__content {
                background: var(--background-dark) !important;
            }
        }
    }
    
    .chat__box { 
        background: var(--bkg-clr-dark);
        .question {
            background: var(--bkg-clr-dark) !important;
        }
    }
}
