    /* Benchmarking My Values Page */
    .benchmarking-my-values-page {
        form {
            .submit-form {
                @media screen and (min-width: 991px) {
                    justify-content: flex-start !important;
                }
                button[type=submit] {
                    background: var(--prim-bkg-clr);
                    border-radius: 10px;
                    border: none;
                    width: 35px;
                    height: 35px;
                    position: relative;
                    transform: rotate(45deg);
                    cursor: pointer;
                    i {
                        position: absolute;
                        top: 31%;
                        left: 52%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                        font-size: 34px;
                        color: var(--white);
                    }
                }
            }
        }
        .countries-sectors {
            .values-section {
                .search-div {
                    @media screen and (max-width: 768px) {
                        width: auto;
                    }
                }
            }
        }
    }