/* Top 100 Ranking Pgae*/
.top-100-page {
    .countries__rank__box {
        .country__box {
            .rank__box {
                .title {
                    font-size: 16px;
                    white-space: nowrap;
                }
                .rank {
                    color: var(--prim-main-txt-clr);
                    font-size: 40px;
                    font-weight: 900;
                }
            }
            .show-more {
                padding: 18px 32px !important;
            }
        }
    }
    .pagination {
        li {
            .page-link {
                background-color: var(--bkg-clr-box-dark) !important;
                border: var(--border-clr);
                color: var(--main-txt-clr)
            }
            &.active {
                .page-link {
                    color: var(--prim-main-txt-clr)
                }
            }
        }
    }
}