@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
.navbar {
  background: var(--background-dark);
}

.navbar .navbar-brand img {
  max-width: 50px;
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
}

html[dir="rtl"] .navbar .navbar-brand img {
  -webkit-margin-start: -9px;
          margin-inline-start: -9px;
}

@media screen and (max-width: 768px) {
  .navbar .navbar-brand {
    margin-right: 0;
  }
}

.navbar .navbar__nav {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .navbar__nav .nav__item {
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .navbar .navbar__nav .nav__item {
    padding: 0 40px;
  }
}

.navbar .nav__form {
  width: 100%;
  position: relative;
}

.navbar .nav__form .form-control {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-padding-start: 35px;
          padding-inline-start: 35px;
}

.navbar .nav__form .search-icon {
  background: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 20px;
}

html[dir=rtl] .navbar .nav__form .search-icon {
  right: 20px;
  left: auto;
}

html[dir=rtl] .navbar .nav__form .search-icon {
  right: 0;
}

@media screen and (max-width: 575px) {
  .navbar .nav__form .search-icon {
    top: 32%;
  }
}

.navbar .nav__user .user__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .navbar .nav__user .user__items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar .nav__user .user__items .user__item {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  background-color: var(--bkg-clr-dark-l);
  border-radius: 5px;
}

.navbar .nav__user .user__items .user__item i {
  font-size: 18px;
  border-radius: 5px;
}

.navbar .nav__user .user__items .user__item.theme-toggler, .navbar .nav__user .user__items .user__item.notification-button {
  width: 40px;
}

.navbar .nav__user .user__items .user__item.theme-toggler {
  position: relative;
  overflow: hidden;
}

.navbar .nav__user .user__items .user__item.theme-toggler .theme-changer-icon {
  position: absolute;
  top: 50%;
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.navbar .nav__user .user__items .user__item.theme-toggler .theme-changer-icon.sun-icon {
  left: 50%;
}

.navbar .nav__user .user__items .user__item.theme-toggler .theme-changer-icon.moon-icon {
  left: -20px;
}

.navbar .nav__user .user__items .user__item.theme-toggler.theme-toggler-light .sun-icon {
  left: -20px;
}

.navbar .nav__user .user__items .user__item.theme-toggler.theme-toggler-light .moon-icon {
  left: 50%;
}

.navbar .nav__user .user__items .user__item.sign-button {
  width: 60px;
}

.navbar .nav__user .user__items .user__item.dropdown {
  border-radius: 5px;
}

.navbar .nav__user .user__items .user__item.dropdown .dropdown-toggle::after {
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
}

.navbar .nav__user .user__items .user__item.dropdown .dropdown-menu {
  background: var(--bkg-clr-dark-l);
}

html[dir=ltr] .navbar .nav__user .user__items .user__item.dropdown .dropdown-menu {
  left: auto;
  right: 0;
}

.navbar .nav__user .user__items .user__item.dropdown .dropdown-menu a {
  color: var(--main-txt-clr);
}

.navbar .nav__user .user__items .user__item.dropdown .dropdown-menu a:hover {
  background: var(--bkg-clr-dark);
}

@media screen and (max-width: 768px) {
  .navbar .nav__user .user__items .user__item {
    padding: 0 !important;
    width: auto;
    height: 50px;
    margin: 3px;
  }
}

.navbar .nav__user .user__items .select-group {
  width: 50px !important;
}

.navbar .nav__user .user__items .select-group .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background-image: url(...);
  /* Add custom arrow */
}

.navbar .nav__user .user__items .select-group .select::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.navbar .navbar-toggler {
  background: var(--prim-bkg-clr-l);
  outline: 0;
}

.navbar .navbar-toggler span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-toggler span .fa-bars {
  color: var(--bkg-clr-dark);
  font-size: 22px;
}

.help {
  position: absolute;
  right: 40px;
  bottom: 30px;
  left: auto;
  z-index: 20;
  row-gap: 10px;
}

html[dir=rtl] .help {
  right: auto;
  left: 40px;
}

.help .help__icon {
  background: var(--bkg-clr-dark-l);
  padding: 5px;
  border-radius: 50%;
  border: 1px solid var(--border-clr);
  cursor: pointer;
}

.help .help__icon img {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .help {
    right: 10px;
    bottom: 70px;
  }
  html[dir=rtl] .help {
    right: auto;
    left: 10px;
  }
}

.chat__box {
  position: absolute;
  right: 40px;
  bottom: 75px;
  height: 500px;
  width: 320px;
  background: var(--bkg-clr-dark-l);
  border: 1px solid var(--border-clr);
  z-index: 999;
  overflow: hidden;
  display: none;
}

html[dir=rtl] .chat__box {
  right: auto;
  left: 40px;
}

@media screen and (max-width: 768px) {
  .chat__box {
    top: -80px;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  html[dir=rtl] .chat__box {
    left: auto;
    right: 0;
  }
}

.chat__box .chat__header {
  background: var(--bkg-clr-dark-l);
  -webkit-box-shadow: 0 0 11px -3px var(--bkg-clr-dark);
          box-shadow: 0 0 11px -3px var(--bkg-clr-dark);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chat__box .chat__header .chat__header__img {
  background: var(--bkg-clr-dark);
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html[dir=rtl] .chat__box .chat__header .chat__header__img {
  margin-right: 0 !important;
  margin-left: 1.5rem !important;
}

.chat__box .chat__header .chat__header__img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 55px;
  left: 81px;
  background: var(--success);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

html[dir=rtl] .chat__box .chat__header .chat__header__img::before {
  left: auto;
  right: 71px;
}

.chat__box .chat__box__content {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 80px;
}

.chat__box .chat__box__content .chat__message .chat__message__img {
  width: 30px;
}

.chat__box .chat__box__content .chat__message .chat__message__body .message {
  border-radius: 10px;
  border-bottom-left-radius: 0 !important;
  font-size: 14px;
  text-align: start;
}

.chat__box .chat__box__content .chat__message .chat__message__body .message__time {
  font-size: 10px;
  color: var(--main-txt-clr);
}

.chat__box .chat__box__content .chat__message.right__message .chat__message__img {
  width: 30px;
}

html[dir=rtl] .chat__box .chat__box__content .chat__message.right__message .chat__message__img {
  margin-right: 1rem !important;
  margin-left: 0 !important;
}

.chat__box .chat__box__content .chat__message.right__message .message {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 0 !important;
  text-align: end;
}

.chat__box .chat__box__content .chat__message.right__message .message__time {
  text-align: end;
}

.chat__box .chat__box__content .chat__message.chat__bot .chat-ques .question {
  cursor: pointer;
}

#termsleModal .modal-dialog .modal-content {
  background-color: var(--bkg-clr-dark-l);
}

#termsleModal .modal-dialog .modal-content .modal-body .terms__box .title__box {
  cursor: pointer;
  border: 1px solid var(--bkg-clr-dark);
  border-radius: 5px;
}

#termsleModal .modal-dialog .modal-content .modal-body .terms__box .title__box i {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#termsleModal .modal-dialog .modal-content .modal-body .terms__box .slide__box {
  display: none;
  background: var(--bkg-clr-dark-l);
  border: 1px solid var(--bkg-clr-dark);
  border-top-width: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#termsleModal .modal-dialog .modal-content .modal-body .terms__box.opened .title__box {
  border-bottom: 1px solid var(--bkg-clr-dark);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--prim-bkg-clr);
}

#termsleModal .modal-dialog .modal-content .modal-body .terms__box.opened .title__box span {
  color: var(--bkg-clr-dark);
}

#termsleModal .modal-dialog .modal-content .modal-body .terms__box.opened .title__box i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  color: var(--bkg-clr-dark);
}

/*** Footer ***/
footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

footer .social-media {
  -webkit-padding-end: 20px;
          padding-inline-end: 20px;
}

footer .social-media li a {
  padding: 20px;
}

footer .social-media li a i {
  font-size: 18px;
}

.chat__box .chat__message .chat__message__img {
  -webkit-margin-end: .5rem;
          margin-inline-end: .5rem;
}

#about-page p.lead {
  font-size: 17px;
}

@media screen and (min-width: 991px) {
  #about-page p.lead {
    width: 90%;
  }
}

#about-page ul li, #about-page ol li {
  font-size: 17px;
}

#about-page ul.bulits-list a {
  color: var(--prim-main-txt-clr);
}

#about-page ul.bulits-list a:hover {
  text-decoration: underline !important;
}

#about-page h2 {
  font-size: 28px;
  font-weight: bold;
}

:root {
  --bkg-clr-dark: rgb(0, 3, 32);
  --bkg-clr-dark-transparent: 0, 3, 32;
  --bkg-clr-dark-l: rgb(0, 39, 109);
  --bkg-clr-dark-l-transparent: 0, 39, 109;
  --bkg-clr-box-dark: rgb(0, 3, 32, .6);
  --prim-bkg-clr: rgb(0, 150, 171);
  --prim-bkg-clr-l: rgb(0, 235, 227);
  --border-clr: rgb(0, 3, 32);
  --main-txt-clr: rgb(196, 196, 196);
  --sec-txt-clr: rgb(180, 180, 180);
  --prim-main-txt-clr: rgb(0, 235, 227);
  --prim-sec-txt-clr-l: rgb(0, 150, 171);
  --background-dark: radial-gradient(circle, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark) 90%);
  --background-prim-border: radial-gradient(circle, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark-l, 1) 0%, var(--prim-bkg-clr) 140%);
}

body {
  background: var(--background-dark);
  color: var(--main-txt-clr);
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
}

a, .btn {
  color: var(--main-txt-clr);
  text-decoration: none !important;
}

a:hover, .btn:hover {
  color: var(--prim-main-txt-clr) !important;
}

a.active, .btn.active {
  color: var(--prim-main-txt-clr) !important;
}

.btn {
  background: var(--background-dark);
  padding: 5px !important;
  border-radius: 5px;
  outline: 0 !important;
}

button.close {
  opacity: 1;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  color: var(--white);
  outline: 0;
}

button.close:hover {
  color: var(--white);
  opacity: 1;
}

.bkg-box,
#world-map .jvectormap-container {
  background: var(--bkg-clr-box-dark) !important;
  border-radius: 5px;
}

.gradient-border {
  position: relative;
  border-radius: 3px;
  color: var(--prim-main-txt-clr) !important;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--background-prim-border) !important;
  width: calc(100% + 4px);
  height: calc(100% + 3px);
  z-index: -1;
  border-radius: 5px;
}

.btn, .form-control, button[type='submit'] {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.arrows-rest-pages {
  margin: 25px 25px 0 !important;
}

.form-control, .search-country__box {
  background-color: var(--bkg-clr-dark-l);
  border: 1px solid var(--border-clr);
  color: var(--main-txt-clr) !important;
}

.form-control:focus, .search-country__box:focus {
  background-color: var(--bkg-clr-dark-l);
  border: 1px solid var(--border-clr);
}

.page-section {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: var(--prim-bkg-clr-l);
  border-radius: 5px;
}

#dashboard {
  background: var(--bkg-clr);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#dashboard .dashboard-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (min-width: 991px) {
  #dashboard .dashboard-content {
    padding-top: auto;
    padding-right: 0;
    padding-bottom: auto;
    padding-left: 100px;
  }
  html[dir=rtl] #dashboard .dashboard-content {
    padding-right: 100px;
    padding-left: 0;
  }
}

#dashboard .dashboard-content .side-bar {
  position: fixed;
  top: 76px;
  right: auto;
  bottom: auto;
  left: 0;
  z-index: 20;
}

html[dir=rtl] #dashboard .dashboard-content .side-bar {
  right: 0;
  left: auto;
}

@media screen and (max-width: 991px) {
  #dashboard .dashboard-content .side-bar {
    left: -90px;
  }
  html[dir=rtl] #dashboard .dashboard-content .side-bar {
    left: auto;
    right: -90px;
  }
}

#dashboard .dashboard-content .side-bar .side-bar__btn-toggler {
  position: absolute;
  top: 20px;
  right: -30px;
  bottom: auto;
  left: auto;
  border: none;
  border-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: var(--prim-bkg-clr-l);
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  display: none;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

html[dir=rtl] #dashboard .dashboard-content .side-bar .side-bar__btn-toggler {
  right: auto;
  left: -30px;
}

html[dir=rtl] #dashboard .dashboard-content .side-bar .side-bar__btn-toggler {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#dashboard .dashboard-content .side-bar .side-bar__btn-toggler i {
  font-size: 20px;
  font-weight: bold;
  color: var(--bkg-clr-dark);
  opacity: 1;
  text-align: center;
  text-shadow: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

html[dir=rtl] #dashboard .dashboard-content .side-bar .side-bar__btn-toggler i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#dashboard .dashboard-content .side-bar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: var(--background-dark);
  width: 90px;
  height: calc(100vh - 76px);
  overflow: hidden;
  overflow-y: auto;
  padding: 0 14px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 768px) {
  #dashboard .dashboard-content .side-bar > div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#dashboard .dashboard-content .side-bar > div::-webkit-scrollbar {
  width: 3px;
}

#dashboard .dashboard-content .side-bar > div .side-bar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 0;
}

#dashboard .dashboard-content .side-bar > div .side-bar__items .side-bar__item {
  width: 100%;
  padding: 3px 0;
}

#dashboard .dashboard-content .side-bar > div .side-bar__items .side-bar__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

#dashboard .dashboard-content .side-bar > div .side-bar__items .side-bar__item a .side-bar__item--icon {
  width: 40px;
  height: 40px;
}

#dashboard .dashboard-content .side-bar > div .side-bar__items .side-bar__item a .side-bar__item--text {
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  margin-left: 15px;
  white-space: nowrap;
  font-weight: bold;
}

html[dir=rtl] #dashboard .dashboard-content .side-bar > div .side-bar__items .side-bar__item a .side-bar__item--text {
  margin-left: 0;
  margin-right: 15px;
}

#dashboard .dashboard-content .side-bar > div hr {
  background-color: var(--bkg-clr-grad-one);
}

#dashboard .dashboard-content .side-bar > div a.terms {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  margin-left: 10px;
  padding-bottom: 30px;
}

html[dir=rtl] #dashboard .dashboard-content .side-bar > div a.terms {
  margin-left: 0;
  margin-right: 10px;
}

#dashboard .dashboard-content .side-bar > div a.terms:hover {
  color: var(--prim-main-txt-clr);
}

@media screen and (min-width: 768px) {
  #dashboard .dashboard-content .side-bar > div:hover {
    width: 395px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  html[dir=rtl] #dashboard .dashboard-content .side-bar > div:hover {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  #dashboard .dashboard-content .side-bar > div:hover .side-bar__item a .side-bar__item--text {
    opacity: 1;
  }
}

#dashboard .dashboard-content .side-bar.opened {
  left: 0;
}

html[dir=rtl] #dashboard .dashboard-content .side-bar.opened {
  left: auto;
  right: 0;
}

#dashboard .dashboard-content .side-bar.opened .side-bar__btn-toggler {
  right: 30px;
  border-radius: 50%;
}

html[dir=rtl] #dashboard .dashboard-content .side-bar.opened .side-bar__btn-toggler {
  right: auto;
  left: 30px;
  border-radius: 50%;
}

#dashboard .dashboard-content .side-bar.opened .side-bar__btn-toggler .open {
  display: none;
}

#dashboard .dashboard-content .side-bar.opened .side-bar__btn-toggler .close {
  display: block;
  margin-right: 2px;
  margin-top: -2px;
}

html[dir=rtl] #dashboard .dashboard-content .side-bar.opened .side-bar__btn-toggler .close {
  margin-top: 1px;
  margin-right: 2px;
  margin-left: auto;
}

#dashboard .dashboard-content .side-bar.opened > div {
  width: 100%;
  padding-top: 30px;
}

#dashboard .dashboard-content .side-bar.opened > div .side-bar__item a .side-bar__item--text {
  opacity: 1;
}

#dashboard .dashboard-content .dashboard__main-content {
  width: 100%;
}

#dashboard .dashboard-content .dashboard__main-content > div {
  padding: 15px 40px;
  height: calc(100vh - 77px);
  overflow: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  #dashboard .dashboard-content .dashboard__main-content > div {
    padding: 30px;
  }
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors .heading {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .prev-next__btn {
  color: var(--prim-sec-txt-clr);
  font-size: 12px;
  border: 2px solid var(--prim-clr-grad-two);
  padding: 3px 10px;
  outline: 0;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  #dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .prev-next__btn {
    width: 200px;
    overflow: hidden;
  }
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box {
    width: 100%;
  }
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .label {
  font-size: 14px;
  color: var(--sec-txt-clr);
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 25px;
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .arrows i {
  color: var(--prim-clr-grad-one);
  font-size: 12px;
}

html[dir='rtl'] #dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .arrows i {
  font-family: FontAwesome !important;
}

html[dir='rtl'] #dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .arrows i.fa-angle-left::before {
  content: '\f105' !important;
}

html[dir='rtl'] #dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .arrows i.fa-angle-right::before {
  content: '\f104' !important;
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .search-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 768px) {
  #dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .search-div {
    width: 100%;
  }
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .search-div .search-country__box {
  border: none;
  border-radius: 5px;
  color: var(--prim-main-txt-clr);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  outline: none;
  padding: 5px 0;
  border: 1px solid var(--border-clr);
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .search-div .search-country__box::-webkit-input-placeholder {
  color: var(--main-txt-clr);
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .search-div .search-country__box:-ms-input-placeholder {
  color: var(--main-txt-clr);
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .search-div .search-country__box::-ms-input-placeholder {
  color: var(--main-txt-clr);
}

#dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .search-div .search-country__box::placeholder {
  color: var(--main-txt-clr);
}

@media screen and (max-width: 768px) {
  #dashboard .dashboard-content .dashboard__main-content .countries-sectors > div .sellect-box .search-div .search-country__box {
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
    padding: 8px 0;
  }
}

#dashboard .dashboard-content .dashboard__main-content .parameters-text {
  background: var(--background-dark);
  border-radius: 5px;
  padding: 10px 0;
  margin: 25px 3px 0;
  position: relative;
}

#dashboard .dashboard-content .dashboard__main-content .parameters-text .parameter {
  position: relative;
  color: var(--prim-main-txt-clr);
}

@media screen and (min-width: 1200px) {
  #dashboard .dashboard-content .dashboard__main-content .parameters-text .parameter {
    margin-bottom: 0;
  }
  #dashboard .dashboard-content .dashboard__main-content .parameters-text .parameter:not(:last-child) {
    border-right: 2px solid var(--bkg-clr-box-dark);
  }
}

@media screen and (max-width: 1200px) {
  #dashboard .dashboard-content .dashboard__main-content .parameters-text .parameter:not(:last-child) {
    margin-bottom: 50px;
    border-bottom: 2px solid var(--bkg-clr-box-dark);
    padding-bottom: 20px;
  }
}

#dashboard .dashboard-content .dashboard__main-content .parameters-text .parameter .parameter__icon {
  color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: -44px;
  left: 50%;
  padding: 3px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  background: var(--prim-bkg-clr);
  width: 35px;
}

#dashboard .dashboard-content .dashboard__main-content .parameters-text .parameter h3 {
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  #dashboard .dashboard-content .dashboard__main-content .parameters-text .parameter h3 {
    min-height: auto;
  }
}

#dashboard .dashboard-content .dashboard__main-content .parameters-text .parameter p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
}

#dashboard .dashboard-content .world-map__section .keymap__box {
  position: absolute;
  z-index: 25;
  top: 55px;
  left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  z-index: 5;
}

#dashboard .dashboard-content .world-map__section .keymap__box .keymap__icon {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bkg-clr-dark-l);
  border-radius: 5px;
  padding: 5px;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#dashboard .dashboard-content .world-map__section .keymap__box .keymap__icon.opened {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#dashboard .dashboard-content .world-map__section .keymap__box .keymap__content {
  background: var(--bkg-clr-dark-l);
  border-radius: 5px;
  border-top-left-radius: 0;
  padding: 20px;
  width: 80%;
  position: absolute;
  top: 0;
  left: 26px;
  width: 200px;
  display: none;
}

#dashboard .dashboard-content .world-map__section .keymap__box .keymap__content .form-check {
  text-align: start;
}

html[dir="rtl"] #dashboard .dashboard-content .world-map__section .keymap__box .keymap__content .form-check .form-check-label {
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
}

#dashboard .dashboard-content .world-map__section #world-map {
  width: 100%;
  height: 400px;
}

@media screen and (min-width: 991px) {
  #dashboard .benchmarking-my-values-page form .submit-form {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

#dashboard .benchmarking-my-values-page form .submit-form button[type=submit] {
  background: var(--prim-bkg-clr);
  border-radius: 10px;
  border: none;
  width: 35px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

#dashboard .benchmarking-my-values-page form .submit-form button[type=submit] i {
  position: absolute;
  top: 31%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 34px;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  #dashboard .benchmarking-my-values-page .countries-sectors .values-section .search-div {
    width: auto;
  }
}

:root.light-theme {
  --bkg-clr-dark: rgb(240, 241, 255);
  --bkg-clr-dark-transparent: 255, 255, 255;
  --bkg-clr-dark-l: rgb(255, 255, 255);
  --bkg-clr-dark-l-transparent: 255, 255, 255;
  --bkg-clr-box-dark: rgb(255, 255, 255, 1);
  --prim-bkg-clr: rgb(0, 192, 186);
  --prim-bkg-clr-l: rgb(0, 212, 205);
  --main-txt-clr: rgb(0, 3, 32);
  --white: rgb(0, 3, 32);
  --sec-txt-clr: rgb(180, 180, 180);
  --prim-main-txt-clr: rgb(0, 192, 186);
  --prim-sec-txt-clr-l: rgb(0, 150, 171);
  --background-dark: radial-gradient(circle, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark) 90%);
  --background-prim-border: radial-gradient(circle, var(--bkg-clr-dark-l, 1) 0%, var(--bkg-clr-dark-l, 1) 0%, var(--prim-bkg-clr) 140%);
}

:root.light-theme body {
  background: var(--bkg-clr-dark);
}

:root.light-theme .btn {
  background: var(--bkg-clr-dark-l);
}

:root.light-theme .navbar {
  background: radial-gradient(circle, #00276d 0%, #00276d 0%, #000320 90%) !important;
}

:root.light-theme .navbar a, :root.light-theme .navbar i, :root.light-theme .navbar .btn {
  color: #c4c4c4;
}

:root.light-theme .navbar .nav__user .user__items .btn,
:root.light-theme .navbar .nav__user .user__items i {
  color: var(--main-txt-clr) !important;
}

:root.light-theme .side-bar > div {
  background: radial-gradient(circle, #00276d 0%, #00276d 0%, #000320 90%) !important;
}

:root.light-theme .side-bar > div a {
  color: #c4c4c4;
}

:root.light-theme .light-background {
  background: var(--bkg-clr-dark-l) !important;
}

:root.light-theme .world-map__section .keymap__box .keymap__icon {
  background: var(--background-dark);
}

:root.light-theme .world-map__section .keymap__box .keymap__content {
  background: var(--background-dark) !important;
}

:root.light-theme .chat__box {
  background: var(--bkg-clr-dark);
}

:root.light-theme .chat__box .question {
  background: var(--bkg-clr-dark) !important;
}
/*# sourceMappingURL=main.css.map */